a#export {
    display: inline-table;
}

.width-100 {
    width: 100%;
}

.login-bg p {
    color: rgb(0 0 0 / 30%);
}

.drop-arrow {
    float: right;
}

.active .sub-menus {
    position: absolute;
    background: #f7f6fd;
    width: calc(100% - 40px);
    box-shadow: 3px 10px 20px -6px rgb(0 0 0 / 15%);
    border-radius: 0 0 10px 10px;
}

.calender-sec {
    padding: 30px;
    border-radius: 20px;
    background: #fff;
}

.filter-btn {
    padding: 8px 30px;
    background-color: transparent;
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
    color: #654fd3;
    text-transform: capitalize;
    border: 2px solid #654fd3;
    align-items: baseline;
    transition: 300ms all;
}

.filter-btn:hover {
    background-color: #654fd3;
    color: #fff;
}

.input-daterange form {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.input-daterange .input-group {
    align-items: center !important;
    width: auto;
}

.input-daterange .sec-inp-group {
    margin: 0 25px;
}

.input-group-btn {
    margin-left: -35px;
}

.date-select input {
    width: 190px !important;
    background: #F9F7FE;
    color: #654fd3;
}

.range {
    background: rgb(101, 79, 211, 10%);
}

.sub-menus li a:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 40px;
    width: 8px;
    height: 8px;
    background: #654fd3;
    border-radius: 50%;
    transform: translatey(-50%);
}


/* .active .drop-arrow {
    transform: rotate( 180deg);
} */

.main-aside {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    background: #fff;
}


/* .main-aside:before {
    content: "";
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 170px;
    height: 370px;
    background-image: url(../../assets/image/before-bottom.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
} */

.main-logo {
    display: none;
}

.menu-logo {
    padding: 30px 20px;
    max-width: 220px;
}

.main-menus ul li a {
    display: block;
    font-weight: 500;
    font-size: 15px;
    padding: 15px 30px;
    color: #000000;
    line-height: 1.5 !important;
    text-transform: capitalize;
    transition: all 0.3s;
}

ul.log-our-sec li a {
    background: #654FD3;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    border: 2px solid #654FD3;
}

.sub-menus li a {
    padding: 10px 20px 10px 70px !important;
    position: relative;
}

.main-menus ul li a:hover,
.main-menus ul li.active>a {
    width: 100%;
    background-color: rgb(247 246 253);
    border-radius: 5px;
    color: #654FD3;
}

.sub-menus li.active a {
    background: #ffc5a0 !important;
}

.main-menus ul li i {
    width: 20px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}

.main-menus ul li i img {
    width: 100%;
}

.main-wrapper {
    width: calc(100% - 300px);
    margin-left: 300px;
}

.page-color {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 70px);
    padding: 30px 50px;
}

.page-title {
    font-size: 20px;
    font-weight: 300;
    color: #000;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.page-title h3 {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.hello-icon {
    margin-left: 10px;
}

.active .drop-arrow path,
.main-menus ul li a:hover .drop-arrow path {
    fill: #654fd3;
}

.user-drop-sec i {
    margin-right: 10px;
    width: 20px;
    display: flex;
}

.user-drop-sec {
    position: relative;
    display: flex;
}

.user-drop-sec ul ul {
    position: absolute;
    width: 100%;
}

.page-title .user-drop-sec span {
    font-weight: 500;
    font-size: 15px;
}

.user-drop-sec .drop-arrow {
    margin-left: 10px;
    display: flex;
}

.user-drop-sec a {
    background: #fff;
    padding: 15px 30px;
    display: flex;
    align-items: center;
}

.btn-box {
    margin-top: 15px;
    padding: 0px;
}

.add-btn,
.delete-data-btn {
    padding: 8px 30px;
    background-color: #654fd3;
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: capitalize;
    border: 2px solid #654fd3;
    display: flex;
    align-items: baseline;
    transition: 300ms all;
}

.delete-data-btn {
    background: #FF0000;
    border: 2px solid #FF0000;
}

.delete-data-btn:hover {
    background: transparent;
    color: #FF0000;
}

.recent-head .add-btn svg {
    margin-left: 8px;
}

.add-btn:hover {
    background-color: #FFFFFF;
    color: #654fd3;
}

.add-btn:hover svg path {
    fill: #654fd3;
}

.page-header {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-table {
    padding: 20px 0;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #FFFFFF;
}

table.dataTable thead th,
table.dataTable tbody td {
    border-bottom: none;
    text-transform: capitalize;
}

table.dataTable thead th,
th {
    color: #000000;
    FONT-WEIGHT: 500;
}

.tabel-res td,
.tabel-res th {
    border: none;
    padding: 23px 10px !important;
    vertical-align: middle;
    font-size: 14px;
}

.tabel-res thead {
    border-radius: 10px;
    background: #F9F7FE;
}

table.dataTable thead .th-max-width {
    min-width: 300px;
    width: 450px !important;
    max-width: 450px !important;
}

.dataTables_wrapper .dataTables_length select {
    height: 40px;
    width: 70px;
}

.dataTables_wrapper .dataTables_filter label {
    position: relative;
    padding-bottom: 20px;
    margin: 0;
    /* color: #654fd3; */
}

.dataTables_wrapper .dataTables_length label,
.dataTables_wrapper .dataTables_length label select {
    color: #000000;
    display: inline;
}

.dataTables_wrapper .dataTables_filter label input {
    padding: 9px;
    width: 250px;
}

.dataTables_wrapper .dataTables_filter label::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-6px, -18px);
    width: 16px;
    height: 16px;
    background-image: url(../image/search.svg);
    background-size: cover;
}

.dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.paginate_button.next,
.paginate_button.previous {
    font-size: 0px !important;
    background-color: #654fd3;
    width: 45px;
    height: 45px;
    position: relative;
    margin: 0 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.previous.disabled {
    background-color: rgb(101 79 211 / 10%) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.next,
.dataTables_wrapper .dataTables_paginate .paginate_button.next:hover {
    background-position: center center;
    background-repeat: no-repeat;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous {
    background-image: url("../image/arrow-back-2.svg") !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous.disabled {
    background-image: url("../image/arrow-back.svg") !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next {
    background-image: url("../image/arrow-next.svg") !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next.disabled {
    background-image: url("../image/arrow-next-2.svg") !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover {
    background-image: url("../image/arrow-back.svg") !important;
    border: 1px solid rgb(101 79 211);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous.disabled:hover {
    background-image: url("../image/arrow-back.svg") !important;
    border-color: transparent !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next:hover {
    background-image: url("../image/arrow-next-2.svg") !important;
    border: 1px solid rgb(101 79 211);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next.disabled:hover {
    background-image: url("../image/arrow-next-2.svg") !important;
    border-color: transparent !important;
}

.dataTables_wrapper .dataTables_paginate span a {
    border: 1px solid #E2E2E2 !important;
    margin: 0 5px;
    font-weight: 500;
    color: #654fd3 !important;
}

.dataTables_wrapper .dataTables_paginate span .paginate_button.current,
.dataTables_wrapper .dataTables_paginate span .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate span .paginate_button.current:hover {
    background: transparent !important;
    border-color: #654fd3 !important;
    color: #654fd3 !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: transparent !important;
    max-height: 381px !important;
}

.edit-btn,
.delete-btn,
.view-btn {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s;
    text-align: center;
    line-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-btn {
    background-color: rgb(36 162 73 / 10%);
    margin-right: 10px;
}

.view-btn {
    background: rgb(250 200 0 / 20%);
    margin-right: 10px;
}

.delete-btn {
    background-color: rgb(255 0 0 / 10%);
}

.edit-btn:hover,
.delete-btn:hover,
.view-btn:hover {
    opacity: 70%;
}

.last-input-margin {
    margin-bottom: 10px;
}


/* Profile page css start */

form label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(0 0 0 / 30%);
}

form input,
form textarea {
    width: 100%;
    padding: 8px 20px;
    border-radius: 5px;
    border: 0;
    font-size: 14px;
    height: 44px;
    background: #fafafa;
    transition: 300ms all;
    text-transform: capitalize;
}

input:focus,
select:focus {
    background-color: #EFEDFB;
    color: #654FD3;
}

.form-group {
    margin-bottom: 20px;
}

input.file_input_with_replacement {
    display: none;
}

input.file_input_replacement {
    background: #e2e2e2;
    padding: 10px;
    border: none;
}

button.file_input_replacement {
    background: #252525;
    color: #fff;
    padding: 7px 10px;
    border-radius: 20px;
    border: none;
}


/* Profile page css end */

.btn-arrow-show,
.btn-arrow-hide {
    width: 7px;
    vertical-align: initial;
}

.add-btn:hover .btn-arrow-show,
.btn-arrow-hide {
    display: none;
}

.add-btn:hover .btn-arrow-hide {
    display: inherit;
}


/* Login page css start */

.login-box {
    width: 100%;
    max-width: 550px;
    margin: auto;
    padding: 0 15px;
}

.logo-box {
    width: 150px;
    margin: 0 auto 50px auto;
    position: relative;
    z-index: 9;
}

.copyright-box {
    position: relative;
    z-index: 9;
    color: rgb(255 255 255 / 60%);
}

.copyright-box p a {
    color: rgb(255 255 255 / 60%);
}

.copyright-box p a:hover {
    color: #fff;
}

.login-bg {
    max-width: 500px;
    min-width: 460px;
    width: 100%;
    position: relative;
    z-index: 9;
}

.login-heading {
    font-size: 40px;
    line-height: 45px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.login-btn {
    width: 100%;
    background: #654FD3;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: capitalize;
    transition: all 0.3s;
    margin-top: 20px;
    margin-bottom: 15px;
    height: 52px;
    border: 0;
    border-radius: 5px;
}

.login-btn:hover {
    opacity: 0.9;
}

.text-center p a {
    color: #000000;
    display: contents;
    font-weight: 500;
    transition: all 0.3s;
}

.text-center p a:hover {
    color: #654fd3;
}

.dataTables_scrollBody tr:first-child td {
    border-top: 0;
}

.dataTables_scrollBody thead {
    display: none;
}

.modal-backdrop {
    background-color: rgb(0 0 0 / 50%) !important;
}


/* Login page css end */

.page-inr {
    padding: 30px;
    background: #fff;
    border-radius: 20px;
}

.tabel-head {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 0 20px;
    align-items: center;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    padding-bottom: 30px;
}

.tabel-head-right .page-btn {
    margin-left: 20px;
}

.btn-data {
    display: inline-block;
    padding: 5px 10px;
}

.tabel-head-right {
    display: flex;
    align-items: center;
}

.tabel-head .form-group {
    margin-bottom: 0;
}

.add-student-form .add-btn {
    max-width: 200px;
}

input.add-btn {
    justify-content: center;
}

.add-student-form .add-btn {
    margin: auto;
    margin-top: 20px;
}

img.student-img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 5px;
}

.deposit-box {
    background: rgb(0 136 9 / 10%);
    padding: 5px 20px;
    border: 1px solid #008809;
    border-radius: 5px;
    color: #008809;
}

.remain-box {
    background: rgb(255, 187, 0, 10%);
    padding: 5px 20px;
    border: 1px solid #FFBB00;
    border-radius: 5px;
    color: #FFBB00;
}

.tabel-res th,
.tabel-res td {
    min-width: 110px;
    max-width: 110px;
}

.tabel-res td {
    color: #000;
}

.tabel-res .width-30 {
    min-width: 30px;
    max-width: 30px;
}

.tabel-res .width-50 {
    min-width: 50px;
    max-width: 50px;
}

.checkbox-table .width-30 {
    width: 30px !important;
}

.tabel-res .width-160 {
    min-width: 160px;
    max-width: 160px;
}

.table.tabel-res tbody {
    max-height: 400px;
}

div#DataTables_Table_0_paginate {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

#student-table a.active {
    background: #28a745;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
}

.check-from-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.check-from-group label {
    position: relative;
    cursor: pointer;
}

.check-from-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #654fd3;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%), inset 0px -15px 10px -12px rgb(0 0 0 / 5%);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.check-from-group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #654fd3;
    border-width: 0 2px 2px 0;
    transform: rotate( 45deg);
}


/* login css */

.login-page {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.login-page-inr {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    align-items: center;
    background: #fff;
}

.login-right {
    flex: 0 0 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: #fff;
    justify-content: center;
    position: relative;
}

.c_session img {
    width: 30px;
    object-fit: contain;
    margin-right: 10px;
}

.c_session {
    font-size: 28px;
    font-weight: 500;
    color: #654fd3;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.login-head p {
    padding: 0px 20px;
    color: rgb(0 0 0 / 30%);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    max-width: 390px;
    margin: auto;
}

.login-head {
    padding-bottom: 30px;
}

.user-name,
.pass-word {
    position: relative;
}

.user-name input,
.pass-word input {
    padding-right: 55px;
    background: #F9F7FE;
    color: #654fd3;
}

.user-name:after {
    content: "";
    position: absolute;
    top: 12px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: url(../image/username.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.pass-word:after {
    content: "";
    position: absolute;
    top: 12px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: url(../image/password.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.sidebar-wrapper .side-menu {
    overflow: auto;
    height: calc(100vh - 180px);
}

.sidebar-wrapper {
    position: relative;
    z-index: 9;
}

.sidebar-wrapper .main-menus {
    padding: 0 20px 20px;
}

.dashboard-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.dash-wrap-left {
    flex: 0 0 65%;
    width: 65%;
}

.dash-wrap-right {
    flex: 0 0 35%;
    margin: 10px 0;
}

.dash-box-wraper {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
    flex-wrap: wrap;
    width: 100%;
}

.dash-box {
    width: calc(33% - 20px);
    margin: 10px;
    border-radius: 20px;
    padding: 30px 40px;
    position: relative;
}

.dash-box-first {
    background: #654FD3;
    color: #fff;
}

.dash-box-second {
    background: #FFC5A0;
}

.dash-box-third {
    background: #A2D39D;
}


/* .dash-box-first:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 82%;
    background: url(../image/design-one.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
}

.dash-box-second:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 82%;
    background: url(../image/design-two.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
} */


/* .dash-box-third:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 82%;
    background: url(../image/design-three.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
} */

.dash-box p {
    font-size: 22px;
    font-weight: 500;
    position: relative;
    z-index: 1;
}

.dash-box h2 {
    padding-top: 20px;
    position: relative;
    z-index: 1;
}

.dash-wrap-left-inr {
    margin-right: 25px;
}

.recent-head {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    padding: 10px 0 25px;
    flex-wrap: wrap;
    width: 100%;
}

.recent-fees-sec {
    background: #fff;
    border-radius: 20px;
    padding: 30px;
    margin-top: 25px;
}

.custom-table th,
.custom-table td {
    padding: 10px 15px;
}

.user-dtls span {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
}

.user-dtls span:first-child {
    margin-right: 10px;
}

.user-dtls span img {
    margin-right: 5px;
}

.mob-show {
    display: none;
}

.tool {
    position: relative;
}

.tooltips {
    opacity: 0;
    transition: 300ms all;
    position: absolute;
    top: -30px;
    left: 45%;
    background: #24a249;
    color: #fff;
    padding: 5px;
    z-index: 9;
    font-size: 11px;
    line-height: 15px;
    border-radius: 5px;
    max-width: 60px;
    min-width: 60px;
    text-align: center;
    text-transform: uppercase;
    transform: translate(-50%);
}

.tool-view .tooltips {
    background: rgb(250 200 0);
}

.tool-delete .tooltips {
    background: rgb(255 0 0);
}

.tool:hover .tooltips {
    opacity: 1;
}

.tooltips:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 40%;
    width: 10px;
    height: 10px;
    background: #24a249;
    transform: rotate( 45deg);
}

.tool-view .tooltips:after {
    background: rgb(250 200 0);
}

.tool-delete .tooltips:after {
    background: rgb(255 0 0);
}


/*Right*/

.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 560px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
    height: 100%;
}

.student-modal-content .modal-header ul {
    display: flex;
}

.student-modal-content .modal-header a {
    color: rgb(101 79 211 / 40%);
    padding: 20px 0px;
    border-bottom: 2px solid transparent;
    font-weight: 500;
}

.student-modal-content .modal-header .active a {
    color: rgb(101 79 211);
    border-bottom: 2px solid rgb(101 79 211);
}

.student-modal-content .modal-header {
    border: 0;
    padding: 40px 40px 20px;
}

.student-modal-content .close {
    opacity: 1;
}

.student-modal-content .modal-body {
    padding: 40px;
}

.modal-header li:first-child {
    margin-right: 25px;
}

.modal-backdrop {
    background-color: rgb(0 0 0 / 30%) !important;
}

.after-design:after {
    content: "";
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 170px;
    height: 370px;
    background-image: url(../../assets/image/before-bottom.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}

.tab-content {
    position: relative;
    z-index: 1;
}

.picture-grp {
    position: relative;
}

.picture-grp input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

.picture-grp {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    border: 1px dashed #654fd3;
    cursor: pointer;
    background: #fff;
}

.pic-label {
    color: #654fd3;
    margin: 0;
}

.add-btn.align-center {
    margin: auto;
    width: auto;
}

.student-modal-content select {
    border: 0 !important;
}

.birth-date {
    display: flex;
    align-items: center;
}

.detail-head {
    background: #F4F2FC;
    border: 1px dashed #654fd3;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    margin-top: 20px;
}

.detail-head-inr {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.head-left {
    display: inline-flex;
    flex-wrap: wrap;
}

.student-name {
    margin-left: 10px;
}

.stuedent-img {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 6px 14px 0px rgb(0 0 0 / 8%);
}

.stuedent-img img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
}

.stu-id,
.scholar-no {
    position: absolute;
    top: -15px;
    left: 20px;
    padding: 5px 15px;
    border-radius: 5px;
}

.stu-id {
    background: #654fd3;
}

.scholar-no {
    background: #FFC5A0;
    right: 20px;
    left: initial;
}

.scholar-no p,
.stu-id p {
    margin: 0;
    font-size: 13px;
    line-height: 20px;
}

.stu-id p {
    color: #fff;
}

.head-right span img {
    margin-right: 10px;
    vertical-align: text-bottom;
}

.head-right span {
    font-size: 14px;
}

.student-name h5 {
    font-size: 16px;
    color: #654fd3;
    font-weight: 500;
    padding-bottom: 5px;
}

.fee-sec {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0;
}

.total-fee {
    background: rgb(0 136 9 / 10%);
    padding: 5px 20px;
    border-radius: 5px;
    color: #008809;
}

.due-fee {
    background: rgb(255, 0, 0, 10%);
    padding: 5px 20px;
    border-radius: 5px;
    color: #FF0000;
}

.fee-list-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(0 0 0 / 10%);
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    padding: 20px 0;
}

.fee-list-table table {
    width: 100%;
}

.fee-list-table {
    display: block;
    overflow: auto;
}

.fee-list-table td,
.fee-list-table th {
    padding: 15px 5px;
    min-width: 95px;
}

.fee-list-table td {
    border-bottom: 1px dashed rgb(0 0 0 / 10%);
}

.fee-list-table tr:last-child() td {
    border-bottom: none;
}

.deposit-form {
    padding: 15px 0;
    border-top: 1px solid rgb(0 0 0 / 10%);
}

#studentDeleteModal .modal-body {
    padding: 40px 20px;
    text-align: center;
}

#studentDeleteModal .modal-footer {
    border: 0;
}

.min-height {
    min-height: calc(100vh - 220px);
    max-height: calc(100vh - 220px);
    overflow-x: hidden;
    position: relative;
    z-index: 1;
}

.dt-checkboxes,
input[type=checkbox] {
    width: auto;
}

#promoteModal .modal-body {
    padding: 40px;
}

input[type=radio],
input[type=checkbox] {
    height: auto;
    width: 20px;
}

input.any-work {
    max-width: 200px;
}

.table-div table tr th,
.table-div table tr td:first-child {
    padding: 8px 15px;
}